* {
    font-family: roboto;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.game-board {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    gap: 3px;
}

.square {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    height: 100px;
    width: 100px;
    background-color: rgb(185, 183, 183);
    border: black solid 1px;
    box-shadow: 2px 2px 4px;
}

.square:hover {
    background-color: rgb(102, 102, 102);
    box-shadow: none;
}